In [3]:
import pandas as pd
from datasets import load_dataset

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

data_scientist_df = df[df['job_title_short'] == 'Data Scientist']
data_analyst_df = df[df['job_title_short'] == 'Data Analyst']
combined_df = pd.concat([data_scientist_df, data_analyst_df], ignore_index=True)
combined_df

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

oct_df = df[df['job_posted_date'].dt.month == 10]
nov_df = df[df['job_posted_date'].dt.month == 11]
dec_df = df[df['job_posted_date'].dt.month == 12]
combined_df = pd.concat([oct_df, nov_df, dec_df], ignore_index=True)
combined_df

full_time_df = df[df['job_schedule_type'] == 'Full-time']
part_time_df = df[df['job_schedule_type'] == 'Part-time']
combined_df = pd.concat([full_time_df, part_time_df], ignore_index=True)
combined_df

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,NaN,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
709603,Data Engineer,Data Engineer*,"Karlsruhe, Germany",via BeBee,Part-time,False,Germany,2023-10-31 06:11:43,False,False,Germany,None,NaN,NaN,Robert Bosch Group,"['python', 'sql', 'spark', 'power bi']","{'analyst_tools': ['power bi'], 'libraries': [..."
709604,Senior Data Engineer,Senior Data Engineer,"Porto, Portugal",via BeBee Portugal,Part-time,False,Portugal,2023-10-04 06:16:58,True,False,Portugal,None,NaN,NaN,Diconium Digital Solutions,"['python', 'sql', 'java', 'aws', 'azure', 'red...","{'cloud': ['aws', 'azure', 'redshift'], 'libra..."
709605,Data Scientist,"Математик, Junior/Middle/Senior Data Scientist",Anywhere,via Rabota.by,Part-time,True,Belarus,2023-01-30 06:45:28,False,False,Belarus,None,NaN,NaN,Представительство ООО «Квалитет» (Российская Ф...,"['python', 'matlab']","{'programming': ['python', 'matlab']}"
709606,Business Analyst,Analyst,Anywhere,via LinkedIn,Part-time,True,India,2023-05-21 06:00:44,False,False,India,None,NaN,NaN,Blu Ocean Innovations pvt ltd,None,None
709607,Data Scientist,Consultant Data Science & berufsbegleitender M...,"Munich, Germany",via Monster.de,Part-time,False,Germany,2023-01-15 06:20:06,False,False,Germany,None,NaN,NaN,Workwise GmbH,"['python', 'java', 'snowflake', 'azure']","{'cloud': ['snowflake', 'azure'], 'programming..."